<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>City Weather</h1>
    <button id="updateButton">Update</button>
    <table border="1">
        <thead>
            <tr>
                <th>Country</th>
                <th>Capital</th>
                <th>Temperature (°C)</th>
            </tr>
        </thead>
        <tbody id="weatherTableBody">
        </tbody>
    </table>
    <script src="../static/script.js"></script>
</body>
</html>